PORT=3000

# Database Configuration
DB_HOST=g2plzcpnl509072.prod.sin2.secureserver.net
DB_PORT=3306
DB_USER=famliy-user
DB_PASSWORD=Boubaid@123
DB_NAME=family-dev

# DeepSeek AI Configuration
DEEPSEEK_API_KEY=your-deepseek-api-key-here
